//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 12 22:06:12 2019
//! **************************************************************************

SCHEMATIC START;
COMP "cat<7>" LOCATE = SITE "T17" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "cat<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "cat<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "cat<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "cat<3>" LOCATE = SITE "M14" LEVEL 1;
COMP "cat<4>" LOCATE = SITE "U18" LEVEL 1;
COMP "cat<5>" LOCATE = SITE "U17" LEVEL 1;
COMP "cat<6>" LOCATE = SITE "T18" LEVEL 1;
TIMEGRP clk = BEL "sclk/sclk" BEL "sclk/counter_0" BEL "sclk/counter_1" BEL
        "sclk/counter_2" BEL "sclk/counter_3" BEL "sclk/counter_4" BEL
        "sclk/counter_5" BEL "sclk/counter_6" BEL "sclk/counter_7" BEL
        "sclk/counter_8" BEL "sclk/counter_9" BEL "sclk/counter_10" BEL
        "sclk/counter_11" BEL "sclk/counter_12" BEL "sclk/counter_13" BEL
        "sclk/counter_14" BEL "sclk/counter_15" BEL "sclk/counter_16" BEL
        "sclk/counter_17" BEL "sclk/counter_18" BEL "sclk/counter_19" BEL
        "sclk/counter_20" BEL "sclk/counter_21" BEL "sclk/counter_22" BEL
        "sclk/counter_23" BEL "sclk/counter_24" BEL "sclk/counter_25" BEL
        "sclk/counter_26" BEL "clk_BUFGP/BUFG";
TIMEGRP sclk/sclk = BEL "sclk/sclk" BEL "drv/counter_1" BEL "drv/counter_0";
TS_clk = PERIOD TIMEGRP "clk" 100 MHz LOW 50%;
SCHEMATIC END;

